.body{margin-bottom: 15px;}
.full{
    height: 100h;
    width: 82vw;
    background-color: rgb(57, 56, 64); 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 4vh;
}
.half{
    height: 48%;
    width: 100%;
    background-color:rgb(57, 56, 64);
    display:flex;
    justify-content: space-around;

}
.note{
    margin-top: 20px;
    height: 95%;
    width: 44%;
    background-color:rgb(41, 41, 46);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    color: rgb(196, 202, 211);
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.semsub{display: flex;align-items: center;gap: 15px;
    margin-top: 10px;}
.upload
{
    transform: translateX(116px);
    margin-top: 16px;
    background-color: rgb(103, 61, 181);
    width: 116px;
    height: 34px;
    border-radius: 10px;
    color: white;
    border: 0cap;
    transition: background-color ease-out 0.2s;
}
.upload:hover{background-color: rgb(63, 43, 99); color: white;}
.subinput{
    margin-left: 10px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    width: 133px;
}
 .inputSem
 {
    width:133px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 50px
    
 }
 
 .inputInfo
 {
       width:284px;
       height: 47px;
       margin-left: 14px;
       resize: none;
       margin-top: 10px;
       font-size: 16px;
 }
.info{display: flex;
    
gap: 10px;}
 .input
 {
    margin: 5px;
    width:282px;
    margin-left: 10px;
    height: 26px;
    font-size: 16px;
 }
 .inputTitle
 {
    width: 440px;
 }

.fileinput{
    height: 30px;
    margin-left: 16px;
    margin-top: 14px
    ;
}
.lbl{font-size: 19px}

