.nav {
    height: 100vh;
    width: 18vw;
    background-color: #202123;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background-color: #3b3465;
    border-radius: 6px;
    padding: 27px;
    display: flex;
    width: 200px;
    position: absolute;
    top: 42px;
    flex-direction: column;
    gap: 12px;
    transition: opacity 0.3s ease-in-out;


}

.navphotoInput {
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.x {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 6px;
    top: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.navprofile {
    height: 35%;
    background-color: #202123;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.insideImg {

    max-width: 120%;
    max-height: 120%;
    /* Ensure aspect ratio is maintained */
    object-fit: cover;

}

.navphoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(137, 133, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;

}

.navphoto:hover {
    cursor: pointer;
}

.navname {
    padding-top: 5%;
    font-size: x-large;
    margin-bottom: 9px;
}

.navregistration {
    font-size: 18px;
    font-weight: 100;
}

.navline {
    background-color: #393840;
    height: 0.25%;
}

.navsub {
    background-color: #202123;
    text-align: center;
    font-size: 150%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    color: white;

}

.notesButtonActive {
    background-color: #393840;
    /* Change this to your desired active color */
    color: white;
    /* Change this to your desired active text color */
}

.navsub:hover {
    background-color: #3b3465;


}

.btn {
    background-color: #26292B;
    color: #fff;
    padding: 20px 20px;
    font-size: large;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    border: 0.1px solid #3f4143;
    overflow: hidden;
    transition: all 0.3s;
    font-weight: bolder;
    
}

.btn:hover {
    background-color: rgb(77, 73, 108);
}

.btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #a600ff;
    top: 50%;
    transform: skewX(30deg) translate(-250%, -50%);
    transition: all 0.4s;
   }
   
   .btn:hover {
    background-color: rgb(77, 73, 108);
    color: #fff;
    
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(250%, -50%);
    transition-delay: 0.04s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }

.navspacer {
    flex-grow: 1;
}