.nav {
    height: 100vh;
    width: 18vw;
    background-color:#202123;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.navprofile {
    height: 35%;
    background-color: #202123;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
}

.navphoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(137, 133, 188);
}

.navname {
    padding-top: 5%;
    font-size: x-large;
}



.navline {
    background-color: #393840;
    height: 0.25%;
}

.navsub {
    background-color: #202123;
    text-align: center; 
    font-size: 150%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    color: white;
    
}

.notesButtonActive {
    background-color:#393840; /* Change this to your desired active color */
    color: white; /* Change this to your desired active text color */
  }
.navsub:hover {
    background-color: #3b3465;
    
    
}

.navlogout {
    background-color:  #26292B; 
    color: #fff; 
    padding: 20px 20px;
    font-size:large;
    border: none; 
    cursor: pointer; 
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 15px;
  }
  
  .navlogout:hover {
    background-color: rgb(77, 73, 108); 
  }
  
.navspacer {
    flex-grow: 1;
  }