.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    padding: 20px;
    margin-top: 1px;
  }
  .input {
    width: 300px;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 10px;
    margin-top: 12px;
  
  }
  .submitButton {
    padding: 14px ;
    margin: auto;
    margin-bottom: 20px;
    height: 43px;
    width: 90px;
    background-color: #45327f;
    color: #e1e8e9;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .submitButton:hover {
    background-color: #0050c8;
  }
  .body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?auto=format&fit=crop&q=80&w=1856&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: center;
    border: 5px solid #60225b;
    border-radius: 20px;
    background-color: rgb(135, 125, 125);
  }
  .formfill {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .title {
    font-weight: bold;
  }